/*Specification*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, 'Arial';
}

ul li {
	display: block;
	margin-bottom: 15px;
}

h1 {
	padding: 50px 0;
}

section {
	padding-bottom: 50px;
}


.table {
	margin-bottom: 0;
}

.logo {
	width: 300px;
}

.acad {
	text-transform: uppercase;
	color: #fff;
	margin: 0;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0.1em;
	font-size: 20px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.main {
	min-height: calc(100vh - 92.72px * 2);
}

.top-line {
	background: #71767b;
}

.cont-up {
	display: flex;
	align-items: center;
}

.pic {
	width: 200px;
	margin-right: 200px;
}

.title {
	text-transform: uppercase;
	color: #4a4848;
}

.descrition {
	display: flex;
}

.buttons {
	background: #000;
}

.page-1 {
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.page-1:hover {
	background: #fff;
	color: #000;
	text-decoration: none;
}
.news {
	display: flex;
}

.pics {
	width: 250px;
}

.pics img {
	width: 210px;
	margin-bottom: 25px;
	margin-right: 15px;
}

.fulltext {
	color: #fff;
	font-weight: bold;
}
.fulltext:nth-child(1){
	margin-bottom: 53px;
}

.details {
	width: 176px;
	height: 23px;
	background: bisque;
	display: block;
	text-align: center;
	color: cadetblue;
	border-radius: 10px;
}

.details:hover{
	background: cadetblue;
	color: bisque;
	text-decoration: none;
}

.btn {
	color: #fff;
	font-weight: bold;
	width: 200px;
	height: 40px;
	background: #736458;
	text-align: center;
	border-radius: 10px;
}

.btn:hover {
	color: #736458;
	background: #fff;
	outline: none;
}

.pubs p {
	margin-bottom: 30px;
}


/*Footer*/

footer {
	background: #71767b;
}

.footer {
	display: flex;
	align-items: center;
}

.rights {
	color: #fff;
	font: 16px 'Arial';
}

/*Second page*/

.

/*Third page*/

